/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(80, 12, 4);
  background-image: url('bg.png'), url('main-bg.jpg');
  background-position: center center, center center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.header {
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 15px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main {
  background-color: #fefefe4f;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center; /* Center-align content within .main */
}

.form-container {
  display: flex;
  justify-content: center; /* Center-align child elements horizontally */
  align-items: center;
  gap: 10px;
}

.form-container input[type="number"] {
  width: 400px;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.form-container button {
  background-color: #fefefe;
  color: #303030;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stakeBtn {
  width: 150px;
}

.unstakeBtn {
  width: 150px;
}

.info-section {
  margin-top: 20px;
  color: #fefefe;
  display: flex;
  justify-content: space-between;
}

.info-left p {
  margin: 5px 0;
}

.info-right p {
  margin: 5px 0;
  text-align: right;
}

.claimBtn {
  margin-top: 20px;
}

.claimBtn button {
  background-color: #fefefe;
  color: #303030;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer {
  text-align: center;
  color: #ffffff;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: transparent;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-container {
  width: 310px;
  display: flex;
  align-items: center;
  gap: 0; /* Remove the gap between items */
}

.input-container input[type="number"] {
  width: 260px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.aprColler {
  color: rgb(22, 248, 135);
}

.tokenBalance {
  color: #fefefe;
}

.aprPercent {
  color: #fefefe;
}

.button-container {
  display: flex;
  gap: 5px;
}

.button-container button {
  background-color: #fefefe;
  color: #303030;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
